<%- include("./layouts/header") %>
    <div class="container mt-5">
        <h2 class="mb-4">Panel DOwnloader</h2>
        <p>Status download ada di per page</p>
        <table id="myTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th style="text-align: center;">From</th>
                    <th style="text-align: center;">Total Vid</th>
                    <th style="text-align: center;">Avaliable Subtitle</th>
                    <th style="text-align: center;">Button</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
<%- include("./layouts/footer") %>